.lowkey {
    color: oklch(var(--lowkey-lightness) 0 0);
}
.index_intro {
    margin-bottom: 2em;
}
.index_outro {
    margin-top: 2em;
}
.index_toc li {
    margin-bottom: 1em;
}
.index_desc {
    display: block;
    margin-top: 0.4em;
}
