.protocol_header {
    margin-top: 3em;
    border-top-width: 0.4em;
    border-top-style: solid;
    border-color: oklch(var(--code-secondary-lightness) 0 0);
}
.message_signature {
    padding: 1em;
    color: oklch(var(--code-secondary-lightness) 0 0);
    background-color: oklch(var(--code-bg-lightness) 0 0);
    font-size: 1rem;
    overflow-x: auto;
    line-height: 1.5;
}
.badges {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
    margin-top: 0.25em;
}
.badges:empty {
    display: none;
}
.badge_normal, .badge_destructor {
    display: inline-block;
    padding: 0.25em;
    border-radius: 0.4em;
}
.badge_normal {
    color: oklch(var(--badge-fg-lightness) var(--highlight-chromaticity) var(--hue));
    background-color: oklch(var(--badge-bg-lightness) var(--badge-bg-chromaticity) var(--hue));
}
.badge_destructor {
    font-weight: bold;
    color: oklch(var(--badge-fg-lightness) 0 0);
    background-color: oklch(var(--badge-bg-lightness) 0 0);
}
.message_body {
    padding-left: 1.5em;
}
.interface_name {
    color: oklch(var(--highlight-lightness) var(--highlight-chromaticity) var(--hue));
}
.keyword {
    color: oklch(var(--code-secondary-lightness) var(--code-secondary-chromaticity) var(--hue));
}
.summary {
    font-size: 115%;
}
.member_name {
    color: oklch(var(--highlight-lightness) var(--highlight-chromaticity) var(--hue));
    font-weight: bold;
}
.arg_ty_nullable {
    color: oklch(var(--code-secondary-lightness) var(--code-secondary-chromaticity) var(--hue));
}
.main_arg_name {
    font-weight: bold;
}
.arg_name {
    font-weight: bold;
    color: oklch(var(--highlight-lightness) 0 0);
}
.arg_ty {
    color: oklch(var(--code-secondary-lightness) var(--code-secondary-chromaticity) var(--hue));
}
.arg_em_dash {
    color: oklch(var(--lowkey-lightness) 0 0);
}
.interface_protocol_link {
    font-size: 60%;
}
.copyright {
    margin: 1em 0;
}
.protocol_prefix {
    color: oklch(var(--lowkey-lightness) 0 0);
}
.protocol_url {
    font-weight: bold;
}
.compositor_support_title {
    color: oklch(var(--lowkey-lightness) 0 0);
    font-size: 115%;
}
.compositor_support {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1em;
}
.compositor_support_version {
    padding: 0.5em;
    padding-bottom: 0.7em;
    background-color: oklch(var(--code-bg-lightness) 0 0);
    border-radius: 0.3em;
}
.compositor_support_version_list {
    font-family: monospace;
    column-width: var(--colw);
    column-count: var(--cols);
    column-fill: balance;
    column-gap: 0.75em;
    margin: 0.5em 0 0 0.5em;
}
.compositor_support_version_list_element:not(:last-child) {
    margin-bottom: 0.5em;
}
.compositor_version {
    color: oklch(var(--lowkey-lightness) 0 0);
    font-size: 85%;
}
